/docs export-ignore
/resources export-ignore
/src/Xezilaires/Bridge/*/Test export-ignore
/src/Xezilaires/Test export-ignore
/.* export-ignore
/*dist export-ignore
/Makefile export-ignore
*.xls binary
