<?xml version="1.0"?>
<psalm xmlns="https://getpsalm.org/schema/config"
       cacheDirectory="var/phpqa/psalm"
       errorLevel="1"
       findUnusedVariablesAndParams="true">
    <projectFiles>
        <directory name="."/>
        <ignoreFiles allowMissingFiles="true">
            <file name=".php-cs-fixer.dist.php"/>
            <directory name="src/Bridge/*/var/"/>
            <directory name="src/Bridge/*/vendor/"/>
            <directory name="src/Xezilaires/var/"/>
            <directory name="src/Xezilaires/vendor/"/>
            <directory name="vendor/"/>
            <directory name="var/"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <!-- TODO: false positive -->
        <MixedArgument>
            <errorLevel type="suppress">
                <file name="src/Xezilaires/Metadata/Annotation/AnnotationDriver.php"/>
            </errorLevel>            
        </MixedArgument>
        <MixedInferredReturnType>
            <errorLevel type="suppress">
                <file name="src/Xezilaires/Metadata/Annotation/AnnotationDriver.php"/>
            </errorLevel>
        </MixedInferredReturnType>
        <MixedMethodCall>
            <errorLevel type="suppress">
                <file name="src/Xezilaires/Metadata/Annotation/AnnotationDriver.php"/>
            </errorLevel>            
        </MixedMethodCall>
        <MixedReturnStatement>
            <errorLevel type="suppress">
                <file name="src/Xezilaires/Metadata/Annotation/AnnotationDriver.php"/>
            </errorLevel>            
        </MixedReturnStatement>
        <UndefinedMethod>
            <errorLevel type="suppress">
                <file name="src/Xezilaires/Metadata/Annotation/AnnotationDriver.php"/>
            </errorLevel>            
        </UndefinedMethod>
        <!-- /TODO: false positive -->
        
        <MissingConstructor>
            <errorLevel type="info">
                <directory name="src/Xezilaires/Annotation/"/>
                <directory name="src/Xezilaires/Test/Model/"/>
            </errorLevel>
        </MissingConstructor>
        <RedundantCondition>
            <errorLevel type="info">
                <file name="src/Xezilaires/Metadata/Annotation/AnnotationDriver.php"/>
            </errorLevel>
        </RedundantCondition>
        <PropertyNotSetInConstructor>
            <errorLevel type="info">
                <file name="src/Bridge/Symfony/AppKernel.php"/>
                <directory name="src/Xezilaires/Test/"/>
                <directory name="src/Bridge/*/Test/"/>
            </errorLevel>
        </PropertyNotSetInConstructor>
        <UndefinedDocblockClass>
            <errorLevel type="info">
                <referencedClass name="Stringable"/>
            </errorLevel>
        </UndefinedDocblockClass>
    </issueHandlers>
    
    <plugins>
        <pluginClass class="Psalm\SymfonyPsalmPlugin\Plugin"/>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
</psalm>
