{
    "phpUnit": {
        "customPath": "/tools/phpunit-7"
    },
    "timeout": 1,
    "source": {
        "directories": [
            "src\/Xezilaires"
        ]
    },
    "logs": {
        "badge": {
            "branch": "master"
        },
        "text": "var\/infection.log"
    },
    "mutators": {
        "@default": true,
        "IdenticalEqual": false,
        "NotIdenticalNotEqual": false
    }
}
