{
    "phpUnit": {
        "customPath": "vendor/bin/phpunit"
    },
    "source": {
        "directories": [
            "src/Xezilaires",
            "src/Bridge"
        ]
    },
    "logs": {
        "text": "var\/infection.log"
    },
    "mutators": {
        "@default": true,
        "IdenticalEqual": false,
        "NotIdenticalNotEqual": false,
        "MethodCallRemoval": {
            "ignore": [
                "Xezilaires\\Bridge\\Symfony\\DependencyInjection\\XezilairesExtension::load::45"
            ]
        }
    }
}
