includes:
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/pepakriz/phpstan-exception-rules/extension.neon
parameters:
    tmpDir: %currentWorkingDirectory%/var/phpstan
    level: max
    paths:
        - ./
    excludes_analyse:
        - var/
        - vendor/
    exceptionRules:
        checkedExceptions:
            - RuntimeException
    ignoreErrors:
        - message: '#Access to an undefined property object\:\:\$scalar\.#'
          path: %currentWorkingDirectory%/tests/Xezilaires/FilterIteratorTest.php
        - message: '#Call to deprecated method registerUniqueLoader\(\) of class Doctrine\\Common\\Annotations\\AnnotationRegistry#'
          path: %currentWorkingDirectory%/src/Xezilaires/Metadata/Annotation/AnnotationDriver.php
        - message: '#Return type \(bool\) of method class@anonymous\/tests\/Xezilaires\/FixtureTrait\.php:28::getRealPath\(\) should be covariant with return type \(string\|false\) of method SplFileInfo::getRealPath\(\)#'
          paths:
            - %currentWorkingDirectory%/tests/Xezilaires/Bridge/Spout/SpreadsheetTest.php
            - %currentWorkingDirectory%/tests/Xezilaires/Functional/FunctionalTestCase.php
        - message: '#Missing @throws .* annotation#'
          paths:
            - %currentWorkingDirectory%/tests
