<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutResourceUsageDuringSmallTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         bootstrap="./src/bootstrap.php"
         cacheResultFile="var/phpqa/phpunit.result.cache"
         colors="true"
         convertDeprecationsToExceptions="true"
         enforceTimeLimit="true"
         executionOrder="random"
         failOnEmptyTestSuite="true"
         failOnRisky="true"
         failOnWarning="true"
         forceCoversAnnotation="true"
         verbose="true">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/Xezilaires</directory>
            <directory suffix=".php">./src/Bridge</directory>
        </include>
        <exclude>
            <directory suffix=".php">./src/Xezilaires/Exception</directory>
            <directory suffix=".php">./src/Xezilaires/Test</directory>
            <directory suffix=".php">./src/Xezilaires/vendor</directory>
            <directory suffix=".php">./src/Xezilaires/var</directory>
            <directory suffix=".php">./src/Bridge/*/Test</directory>
            <directory suffix=".php">./src/Bridge/*/vendor</directory>
            <directory suffix=".php">./src/Bridge/*/var</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Xezilaires">
            <directory>./src/Xezilaires/Test</directory>
            <directory>./src/Bridge/*/Test</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0&amp;max[direct]=12&amp;verbose=0"/>
    </php>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
