<?xml version="1.0"?>
<psalm xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="https://getpsalm.org/schema/config"
       xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
       cacheDirectory="var/psalm"
       strictBinaryOperands="true"
       totallyTyped="true">
    
    <projectFiles>
        <directory name="bin"/>
        <directory name="src/"/>
        <directory name="tests/"/>
    </projectFiles>

    <issueHandlers>
        <MissingConstructor>
            <errorLevel type="info">
                <directory name="src/Xezilaires/Annotation/" />
                <directory name="tests/" />
            </errorLevel>
        </MissingConstructor>
        <PropertyNotSetInConstructor errorLevel="info" />
        <RedundantCondition>
            <errorLevel type="info">
                <file name="src/Xezilaires/Metadata/Annotation/AnnotationDriver.php" />
            </errorLevel>
        </RedundantCondition>
        <DeprecatedMethod>
            <errorLevel type="info">
                 <file name="src/Xezilaires/Metadata/Annotation/AnnotationDriver.php" />
             </errorLevel>
        </DeprecatedMethod>

        <!-- false positives -->
        <UndefinedClass>
            <errorLevel type="info">
                 <file name="src/Xezilaires/Bridge/Symfony/Command/SerializeCommand.php" />
             </errorLevel>
        </UndefinedClass>
        <InvalidCatch>
            <errorLevel type="info">
                <file name="src/Xezilaires/Metadata/Mapping.php" />
            </errorLevel>
        </InvalidCatch>
        <InvalidOperand>
            <errorLevel type="info">
                <file name="src/Xezilaires/Bridge/Spout/Spreadsheet.php" />
            </errorLevel>
        </InvalidOperand>
        <MixedMethodCall>
            <errorLevel type="info">
                <file name="tests/Xezilaires/Bridge/PhpSpreadsheet/RowIteratorTest.php" />
                <file name="tests/Xezilaires/Bridge/Spout/RowIteratorTest.php" />
                <file name="tests/Xezilaires/SpreadsheetIteratorTest.php" />
            </errorLevel>
        </MixedMethodCall>
    </issueHandlers>

    <mockClasses>
        <class name="PHPUnit\Framework\MockObject\MockObject"/>
        <class name="PHPUnit\Framework\MockObject\Builder\InvocationMocker"/>
    </mockClasses>
</psalm>
