<?xml version="1.0"?>
<psalm xmlns="https://getpsalm.org/schema/config"
       cacheDirectory="var/phpqa/psalm"
       errorLevel="1"
       findUnusedVariablesAndParams="true">
    <projectFiles>
        <directory name="."/>
        <ignoreFiles>
            <directory name="var/"/>
            <directory name="vendor/"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <!-- TODO: false positive -->
        <MixedArgument>
            <errorLevel type="suppress">
                <file name="Metadata/Annotation/AnnotationDriver.php"/>
            </errorLevel>
        </MixedArgument>
        <MixedInferredReturnType>
            <errorLevel type="suppress">
                <file name="Metadata/Annotation/AnnotationDriver.php"/>
            </errorLevel>
        </MixedInferredReturnType>
        <MixedMethodCall>
            <errorLevel type="suppress">
                <file name="Metadata/Annotation/AnnotationDriver.php"/>
            </errorLevel>
        </MixedMethodCall>
        <MixedReturnStatement>
            <errorLevel type="suppress">
                <file name="Metadata/Annotation/AnnotationDriver.php"/>
            </errorLevel>
        </MixedReturnStatement>
        <UndefinedMethod>
            <errorLevel type="suppress">
                <file name="Metadata/Annotation/AnnotationDriver.php"/>
            </errorLevel>
        </UndefinedMethod>
        <!-- /TODO: false positive -->
        
        <MissingConstructor>
            <errorLevel type="info">
                <directory name="Annotation/" />
                <directory name="Test/" />
            </errorLevel>
        </MissingConstructor>
        <RedundantCondition>
            <errorLevel type="info">
                <file name="Metadata/Annotation/AnnotationDriver.php" />
            </errorLevel>
        </RedundantCondition>
        <PropertyNotSetInConstructor>
            <errorLevel type="info">
                <directory name="Test/" />
            </errorLevel>
        </PropertyNotSetInConstructor>
    </issueHandlers>
</psalm>
