includes:
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    tmpDir: %currentWorkingDirectory%/var/phpqa/phpstan
    level: max
    paths:
        - ./
    excludePaths:
        - var/
        - vendor/
    ignoreErrors:
        # false positive PHPStan 1.x
        - '#Return type \(bool\) of method class@anonymous/Test/FixtureTrait.php:28::getRealPath#'
