<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutResourceUsageDuringSmallTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         bootstrap="./vendor/autoload.php"
         cacheResultFile="var/phpqa/phpunit.cache"
         colors="true"
         executionOrder="random"
         failOnRisky="true"
         failOnWarning="true"
         forceCoversAnnotation="true"
         verbose="true">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./</directory>
        </include>
        <exclude>
            <directory suffix=".php">./Exception</directory>
            <directory suffix=".php">./Test</directory>
            <directory suffix=".php">./var</directory>
            <directory suffix=".php">./vendor</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Xezilaires">
            <directory>./Test</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0&amp;max[direct]=9&amp;verbose=0"/>
    </php>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
