<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         bootstrap="./vendor/autoload.php"
         cacheDirectory="var/phpqa/phpunit"
         colors="true"
         enforceTimeLimit="true"
         executionOrder="random"
         failOnEmptyTestSuite="true"
         failOnRisky="true"
         failOnWarning="true">
    <coverage/>
    <source>
        <include>
            <directory>./</directory>
        </include>
        <exclude>
            <directory>./Exception</directory>
            <directory>./Test</directory>
            <directory>./var</directory>
            <directory>./vendor</directory>
        </exclude>
    </source>
    <testsuites>
        <testsuite name="Xezilaires">
            <directory>./Test</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0&amp;max[direct]=9&amp;verbose=0"/>
    </php>
</phpunit>
