<?xml version="1.0"?>
<psalm xmlns="https://getpsalm.org/schema/config"
       cacheDirectory="var/phpqa/psalm"
       errorLevel="1"
       findUnusedVariablesAndParams="true">
    <projectFiles>
        <directory name="."/>
        <ignoreFiles>
            <directory name="var/"/>
            <directory name="vendor/"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <MissingConstructor>
            <errorLevel type="info">
                <directory name="Annotation/" />
                <directory name="Test/" />
            </errorLevel>
        </MissingConstructor>
        <RedundantCondition>
            <errorLevel type="info">
                <file name="Metadata/Annotation/AnnotationDriver.php" />
            </errorLevel>
        </RedundantCondition>
        <PropertyNotSetInConstructor>
            <errorLevel type="info">
                <directory name="Test/" />
            </errorLevel>
        </PropertyNotSetInConstructor>
    </issueHandlers>
</psalm>
