<?xml version="1.0"?>
<psalm xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="https://getpsalm.org/schema/config"
       xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
       cacheDirectory="var/psalm"
       totallyTyped="true">
    
    <projectFiles>
        <directory name="."/>
        <ignoreFiles>
            <directory name="var/"/>
            <directory name="vendor/"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <DeprecatedMethod>
            <errorLevel type="info">
                 <file name="Metadata/Annotation/AnnotationDriver.php" />
             </errorLevel>
        </DeprecatedMethod>
        <InvalidCatch>
            <errorLevel type="info">
                <file name="Metadata/Mapping.php" />
            </errorLevel>
        </InvalidCatch>
        <InternalMethod>
            <errorLevel type="info">
                <directory name="Test/" />
            </errorLevel>
        </InternalMethod>
        <MissingConstructor>
            <errorLevel type="info">
                <directory name="Annotation/" />
                <directory name="Test/" />
            </errorLevel>
        </MissingConstructor>
        <RedundantCondition>
            <errorLevel type="info">
                <file name="Metadata/Annotation/AnnotationDriver.php" />
            </errorLevel>
        </RedundantCondition>
        <PropertyNotSetInConstructor>
            <errorLevel type="info">
                <directory name="Test/" />
            </errorLevel>
        </PropertyNotSetInConstructor>

        <!-- false positives -->
        <MixedMethodCall>
            <errorLevel type="info">
                <file name="Test/SpreadsheetIteratorTest.php" />
            </errorLevel>
        </MixedMethodCall>
    </issueHandlers>

    <mockClasses>
        <class name="PHPUnit\Framework\MockObject\MockObject"/>
    </mockClasses>
</psalm>
