<?xml version="1.0"?>
<psalm xmlns="https://getpsalm.org/schema/config"
       cacheDirectory="var/phpqa/psalm"
       checkForThrowsInGlobalScope="true"
       ensureArrayIntOffsetsExist="true"
       ensureArrayStringOffsetsExist="false"
       errorLevel="1"
       findUnusedBaselineEntry="false"
       findUnusedCode="false"
       findUnusedPsalmSuppress="false"
       findUnusedVariablesAndParams="false"
       limitMethodComplexity="true"
       restrictReturnTypes="false"
       strictBinaryOperands="false">
    <projectFiles>
        <directory name="."/>
        <ignoreFiles>
            <file name="Test/ExampleBundle/XezilairesExampleBundle.php"/>
            <directory name="var/"/>
            <directory name="vendor/"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <MissingConstructor>
            <errorLevel type="info">
                <directory name="Annotation/" />
                <directory name="Test/" />
            </errorLevel>
        </MissingConstructor>
        <MissingTemplateParam>
            <errorLevel type="info">
                <file name="FilterIterator.php"/>
                <file name="Iterator.php"/>
            </errorLevel>
        </MissingTemplateParam>
        <RedundantCondition>
            <errorLevel type="info">
                <file name="Metadata/Annotation/AnnotationDriver.php" />
            </errorLevel>
        </RedundantCondition>
        <PropertyNotSetInConstructor>
            <errorLevel type="info">
                <directory name="Test/" />
            </errorLevel>
        </PropertyNotSetInConstructor>
    </issueHandlers>
</psalm>
