{
    "phpUnit": {
        "customPath": "vendor/bin/phpunit"
    },
    "timeout": 1,
    "source": {
        "directories": [
            "."
        ]
    },
    "logs": {
        "text": "var\/infection.log"
    },
    "minMsi": 100,
    "minCoveredMsi": 100,
    "mutators": {
        "@default": true,
        "IdenticalEqual": false,
        "NotIdenticalNotEqual": false
    }
}
