{
    "source": {
        "directories": [
            "."
        ]
    },
    "logs": {
        "text": "var\/infection.log"
    },
    "minMsi": 100,
    "minCoveredMsi": 100,
    "mutators": {
        "@default": true,
        "IdenticalEqual": false,
        "NotIdenticalNotEqual": false,
        "IfNegation": {
            "ignore": [
                "Xezilaires\\Bridge\\Symfony\\DependencyInjection\\XezilairesExtension::load::36",
                "Xezilaires\\Bridge\\Symfony\\DependencyInjection\\XezilairesExtension::load::39"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "Xezilaires\\Bridge\\Symfony\\DependencyInjection\\XezilairesExtension::load::43"
            ]
        }
    }
}
