<?xml version="1.0"?>
<psalm xmlns="https://getpsalm.org/schema/config"
       cacheDirectory="var/phpqa/psalm"
       errorLevel="1"
       findUnusedVariablesAndParams="true">
    <projectFiles>
        <directory name="."/>
        <ignoreFiles>
            <directory name="var/"/>
            <directory name="vendor/"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <PropertyNotSetInConstructor>
            <errorLevel type="info">
                <directory name="Test/"/>
            </errorLevel>
        </PropertyNotSetInConstructor>
        <UndefinedDocblockClass>
            <errorLevel type="info">
                <referencedClass name="Stringable"/>
            </errorLevel>
        </UndefinedDocblockClass>
    </issueHandlers>
</psalm>
