<?xml version="1.0"?>
<psalm xmlns="https://getpsalm.org/schema/config"
       cacheDirectory="var/phpqa/psalm"
       errorLevel="1"
       findUnusedVariablesAndParams="true">
    <projectFiles>
        <directory name="."/>
        <ignoreFiles>
            <directory name="var/"/>
            <directory name="vendor/"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <InternalMethod>
            <errorLevel type="info">
                <referencedMethod name="OpenSpout\Common\Entity\Row::toArray"/>
            </errorLevel>
        </InternalMethod>
        <PropertyNotSetInConstructor>
            <errorLevel type="info">
                <directory name="Test/"/>
            </errorLevel>
        </PropertyNotSetInConstructor>
    </issueHandlers>
</psalm>
