{
    "filters": {
        "comments": true
    },
    "rules": {
        "alex": true,
        "common-misspellings": {
            "ignore": []
        },
        "no-dead-link": true,
        "@textlint-rule/no-invalid-control-character": true,
        "no-todo": true,
        "sentence-length": {
            "max": 120
        },
        "terminology": {
            "defaultTerms": true
        },
        "write-good": true
    }
}
